<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaskManage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TaskManage.Properties.Settings>
            <setting name="menu2_open1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="menu2_open2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="form_x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="form_y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="order" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>1</string>
                        <string>2</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="menu" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="first_start" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>1.10</value>
            </setting>
            <setting name="done_delete_month" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="maximum" serializeAs="String">
                <value>False</value>
            </setting>
        </TaskManage.Properties.Settings>
    </userSettings>
</configuration>